.modal-open {
  position: fixed;
  overflow-y: scroll;
}

.modal-content {
  pointer-events: auto;
  background: none;
  border: none;

  width: 1000px;
  height: 600px;
  margin-left: calc((100% - 1000px) / 2);
}
