.modal-open {
  position: fixed;
  overflow-y: scroll;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-color: #c20a0a;
  background-clip: padding-box;
  border: 1px solid #ffcc00;
  border-radius: 5px;

  width: 400px;
  height: 500px;
  margin-left: 50px;
}
