.modal-open {
  position: fixed;
  overflow-y: scroll;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  pointer-events: auto;

  width: 400px;
  height: 500px;
  margin-left: 50px;
}
