#deposit-option-menu-container {
  width: 100%;
  height: 89px;
  margin-top: 50px;
  user-select: none;

  .deposit-option {
    width: 220px;
    height: 100%;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;

    .image-container {
      width: 130px;
      height: 46px;

      img {
        transform: scale(0.6);
        transform-origin: top left;
      }
    }

    .round {
      width: 23px;
      height: 23px;
      border-radius: 11px;
      background-color: #f04343;
      color: white;
      text-align: center;
      margin-bottom: 30px;
    }
  }
}

#option-arrow {
  margin-top: 15px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
}

#deposit-container {
  form {
    margin-top: 21px;

    #radio-button-container {
      margin-bottom: 64px;

      input[type="radio"] {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }

      input[type="radio"]:checked + .label {
        color: red;
      }

      .label {
        margin-right: 20px;
        font-size: 16px;
        color: white;
      }
    }

    .description-label {
      height: 20px;
      font-size: 15px;
      color: white;
    }

    .input-box-container {
      width: 280px;
      height: 40px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .form-button-container,
    .form-submit-container {
      width: 230px;
      height: 40px;
      margin-top: 50px;
    }

    #deposit-buttons-container {
      :nth-child(1) {
        margin-right: 40px;
      }

      .form-button-container,
      .form-submit-container {
        width: 130px;
        height: 40px;
        margin-top: 50px;
      }
    }
  }
}

@media (max-height: 750px) {
  #tutorial-pop-out-container {
    bottom: 35px;
  }
}

#tutorial-pop-out-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 1000px;
  height: 750px;
  background-image: linear-gradient(
    180deg,
    #7a4e12 0%,
    #1f212e 9%,
    #1e202f 100%
  );
  border: 3px solid #ffd678;
  border-radius: 38px;
  user-select: none;

  .tutorial-option-menu {
    height: 125px;
    width: 100%;

    .tutorial-option-column-container {
      width: 350px;
      color: #e9a400;
      user-select: none;
      cursor: pointer;

      .tutorial-option-row-container {
        font-size: 20px;
      }

      .tutorial-option-bar {
        margin-top: 18px;
        width: 100%;
        height: 5px;
        background-color: black;
      }
    }
  }

  .tutorial-image {
    position: relative;
    width: 100%;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tutorial-close-button {
    width: 140px;
    height: 40px;
    background-image: linear-gradient(180deg, #ffd630 0%, #ffb300 100%);
    border-radius: 2px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(22px);
    cursor: pointer;
  }
}
