#forgot-password-form-container {
  form {
    margin-top: 30px;

    .input-box-container,
    .form-submit-container {
      margin-top: 35px;
    }

    .form-button-container {
      margin-top: 10px;
    }
  }
}
