#profile-selection-menu-container {
  width: 100%;
  height: 46px;
  margin-top: 42px;

  .profile-menu {
    width: 260px;
    cursor: pointer;

    .label-container {
      width: 100%;
      height: 27px;
      text-align: center;
      opacity: 0.7;
    }

    .bar-container {
      width: 100%;
      height: 5px;
      background-color: black;
      margin-top: 14px;
    }
  }
}

#profile-container {
  margin-top: 140px;

  .profile-content {
    width: 560px;
    height: 50px;

    .profile-box {
      width: 50%;
      height: 100%;
      color: white;
      border: 1px solid #707070;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#change-password-container {
  height: calc(100% - 151px);

  form {
    margin-top: 20px;

    .form-button-container {
      margin-top: 5px;
    }

    .input-box-container,
    .form-submit-container {
      margin-top: 40px;
    }
  }
}

#set-pin-container {
  height: calc(100% - 151px);

  form {
    .form-button-container {
      margin-top: 10px;
    }

    .input-box-container,
    .form-submit-container {
      margin-top: 25px;
    }
  }
}
