#profile-selection-menu-container {
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 42px;

  .profile-menu {
    width: 260px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .label-container {
      width: 100%;
      height: 27px;
      text-align: center;
      opacity: 0.7;
    }

    .bar-container {
      width: 100%;
      height: 5px;
      background-color: black;
      margin-top: 14px;
    }
  }
}

#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;

  .profile-row {
    width: 560px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .profile-box {
      width: 50%;
      height: 100%;
      color: white;
      border: 1px solid #707070;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#change-password-container {
  height: calc(100% - 151px);

  form {
    :nth-child(1),
    :nth-child(3) {
      margin-bottom: 5px;
    }

    :nth-child(2),
    :nth-child(4) {
      margin-bottom: 15px;
    }

    :nth-child(5) {
      margin-bottom: 40px;
    }
  }
}

#set-pin-container {
  height: calc(100% - 151px);

  form {
    :nth-child(1) {
      margin-bottom: 5px;
    }

    :nth-child(2) {
      margin-bottom: 17px;
    }

    :nth-child(4) {
      margin-bottom: 10px;
    }

    :nth-child(5) {
      margin-bottom: 23px;
    }

    :nth-child(3),
    :nth-child(6) {
      margin-bottom: 25px;
    }
  }
}
