#register-form-container {
  form {
    height: 90%;

    .input-box-container,
    .form-submit-container {
      margin-top: 40px;
    }

    .form-button-container {
      margin-top: 10px;
    }
  }

  #register-help-bar {
    width: 100%;
    height: 25px;

    :nth-child(2) {
      margin-right: 24px;
    }

    #form-label {
      font-size: 18px;
      color: white;
    }
  }
}
