#withdraw-container {
  width: 100%;

  #withdraw-label {
    margin-top: 40px;
    color: white;
    font-size: 18px;

    span {
      color: #ffb100;
    }
  }

  #withdraw-bank-container {
    margin-top: 27px;

    .withdraw-detail-container {
      width: 500px;
      height: 116px;
      background-color: white;
      border-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;

      .add-container {
        font-size: 40px;
        color: #cfcfcf;
      }

      .bank-logo {
        position: relative;
        width: 55px;
        height: 55px;
        margin-right: 5px;
      }

      .bank-detail-container {
        width: 70px;

        .bank-label {
          font-size: 16px;
        }
      }

      .withdraw-label {
        font-size: 18px;
      }

      .owner-detail-container {
        height: 95px;
        margin-top: 15px;
        margin-right: 100px;
        justify-content: space-between;

        .bank-number-label {
          width: 215px;
          font-size: 25px;
          font-weight: bolder;
          justify-content: space-between;
        }
      }

      .remove-label {
        margin-top: 5px;
        align-self: start;
        color: #a6a6a6;
        font-size: 16px;
      }
    }
  }
}
