#cards-container-browser {
  height: 725px;

  #background-container {
    position: absolute;
    z-index: -1;
  }

  #card-item-container {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #card-01 {
      transform: translate(-75px, 50px) rotate(-15deg);
    }

    #card-02 {
      padding-left: 45px;
      padding-right: 45px;
    }

    #card-03 {
      transform: translate(75px, 50px) rotate(15deg);
    }
  }
}

#cards-container-mobile {
  height: 220px;

  #card-item-container {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;

    #card-02 {
      margin-left: 10px;
      margin-right: 10px;
      transform: translate(0px, -20px);
    }

    #card-01,
    #card-03 {
      transform: translate(0px, 20px);
    }

    #card-01,
    #card-02,
    #card-03 {
      width: 108px;
      height: 108px;
      position: relative;

      .label-container {
        color: #ffffff;
        text-align: center;
        padding-top: calc(100% + 6px);
      }
    }
  }
}

.flip-card-mobile,
.flip-card-browser {
  background-color: transparent;
  width: 335px;
  height: 512px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-browser:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);

  .button-container {
    position: absolute;
    width: 140px;
    height: 40px;
    bottom: 30px;
    left: calc(50% - 70px);
    z-index: 1;
    background: transparent linear-gradient(180deg, #ffd630 0%, #ffb300 100%);

    .button-label {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 6px;
      font-size: 18px;
      color: #000000;
    }

    :hover {
      cursor: pointer;
    }
  }
}
