#customer-service-container-mobile {
  width: 100%;
  height: 310px;
  color: white;

  .profile-container {
    position: relative;
    padding-top: 115px;

    :nth-child(1) {
      top: 25px;
      left: calc(50% - 40px);
    }

    .name-label {
      font-size: 16px;
    }

    .title-label {
      padding-top: 4px;
    }

    .description-label {
      position: relative;
      padding-top: 22px;
      font-size: 12px;

      :nth-child(1),
      :nth-child(2) {
        top: 23px;
      }

      :nth-child(1) {
        left: -17px;
      }

      :nth-child(2) {
        left: 235px;
      }
    }
  }
}

#customer-service-container-browser {
  height: 400px;
  width: 100%;
  color: white;
  padding-left: 2%;

  #left-service-container {
    height: 100%;
    width: 42%;
    padding-top: 50px;

    #suggestion-label {
      padding-top: 20px;
      padding-bottom: 26px;
      width: 100%;
      text-align: center;
      font-size: 22px;
    }
  }

  #right-service-container {
    height: 100%;
    width: 560px;

    .profile-container {
      position: relative;
      padding-top: 164px;

      :nth-child(1) {
        left: 217.5px;
      }

      .name-label {
        font-size: 22px;
      }

      .title-label {
        padding-top: 5px;
      }

      .description-label {
        position: relative;
        padding-top: 35px;

        :nth-child(1),
        :nth-child(2) {
          top: 30px;
        }

        :nth-child(1) {
          left: -35px;
        }

        :nth-child(2) {
          left: 315px;
        }
      }
    }
  }
}

.icons-container {
  padding-bottom: 30px;
  width: 100%;
}
