#event-bar-container-mobile,
#event-bar-container-browser {
  width: 100%;
  position: relative;
}

#event-bar-container-mobile {
  height: 230px;

  #image-container-mobile {
    margin-top: 23px;
    position: relative;

    :nth-child(2) {
      top: 25px;
      left: 112px;
    }

    :nth-child(3) {
      top: 75px;
      left: 111px;
    }
  }

  #button-container {
    position: relative;
    width: 144px;
    height: 38px;
    top: 147px;
    left: 116px;

    #button-label {
      position: relative;
      color: black;
      text-align: center;
      padding-top: 5px;
      font-weight: bold;
    }
  }
}

#event-bar-container-browser {
  height: 600px;

  #background-image-container {
    .image-handler {
      left: calc(50% - 565px);
      z-index: -1;
    }
  }

  #number-image-container {
    width: 420px;
    padding-top: 155px;
    margin-left: 790px;
    justify-content: space-between;

    .reward-button {
      position: relative;
      width: 97px;
      height: 130px;

      .image-handler {
        left: 0;
        top: 0;
      }

      #reward-anim {
        position: absolute;
        font-size: 150px;
        color: #ffb300;
        opacity: 1;
        top: 0px;
        animation-name: reward-anim;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;

        #heart-image {
          position: relative;
          width: 147px;
          left: -30px;
        }

        #reward-number {
          position: relative;
          left: -45px;
        }
      }

      @keyframes reward-anim {
        0% {
          opacity: 0;
          top: 0px;
        }
        30% {
          opacity: 1;
        }
        70% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          top: -160px;
        }
      }
    }
  }
}

#title-container {
  margin-top: 100px;
  margin-left: 50px;
}

#buttons-container {
  margin-top: 26px;
  margin-left: 50px;

  .button-container {
    width: 215px;
    height: 57px;
    margin-right: 13px;

    img {
      position: fixed;
      z-index: -1;
    }

    .button-label {
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 9px;
      font-size: 22px;
      font-weight: bold;
    }

    :hover {
      cursor: pointer;
    }
  }
}
