#login-bar-container-browser {
  height: 40px;
  width: 100%;
  background: transparent linear-gradient(0deg, #8e0002 0%, #ad0002 100%);

  #login-bar-row-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .label-button {
      cursor: pointer;
      margin-right: 10px;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      outline-color: #fcb715;
    }

    input[type="button"]:focus,
    input[type="submit"]:focus {
      outline-style: none;
    }

    input[type="text"],
    input[type="password"] {
      width: 150px;
      color: black;
      margin-right: 10px;
    }

    input[type="button"],
    input[type="submit"] {
      color: white;
      width: 75px;
      margin-right: 5px;
    }

    input {
      height: 30px;
      background-color: white;
      border-radius: 5px;
      border-width: 0px;
    }

    #username-label {
      min-width: 120px;
      max-width: 150px;
      color: #ffffff;
      margin-right: 30px;
    }

    #image-container {
      position: relative;
      width: 18px;
      height: 18px;
      margin-right: 5px;

      :nth-child(1) {
        top: calc(25% - 9px);
        left: calc(50% - 9px);
      }
    }

    #profile-button {
      margin-right: 35px;
      cursor: pointer;
    }
  }
}

.login-bar-login {
  margin-left: 48%;
}

.login-bar-not-login {
  margin-left: 62%;
}

.input-style {
  width: 150px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 0px;
}

.login-bar-button {
  width: 75px;
  margin-left: 5px;
}

#login-bar-container-mobile {
  height: 65px;
  width: 100%;
  background-color: #ad0003;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  :nth-child(1) {
    left: calc(50% - 43px);
    top: calc(50% - 27px);
  }

  #login-label,
  #register-label {
    width: 49px;
    height: 20px;
    border: 1px solid #fcb715;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
  }

  #login-label {
    background-color: #fcb715;
    color: #ad0003;
    margin-left: 70%;
  }

  #register-label {
    background-color: #ad0003;
    color: #fcb715;
  }
}
