@import "LoginBar.scss", "UtilityBar.scss", "NoticeBoard.scss", "Card.scss",
  "EventBar.scss", "GameList.scss", "About.scss", "Footer.scss",
  "pop_out/PopOut.scss", "NavigationBar.scss", "Slider.scss", "InfoPage.scss";

html {
  scroll-behavior: smooth;
}

#main-container {
  position: relative;
  user-select: none;
  font-family: "PingFang,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif";
}

#map-browser,
#map-mobile {
  position: absolute;
  transform-origin: top left;
  background-color: #1e202f;
}

#map-browser {
  width: 1920px;
}

#map-mobile {
  width: 375px;
}

#loading-container {
  position: absolute;
  width: 100%;
  background-color: white;
  transition: opacity 1s;
  z-index: 999;
}

.image-handler {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
}

.yellow {
  color: #fcb715;
}

.white {
  color: white;
}

.black {
  color: black;
}

.row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

input {
  width: inherit;
  height: inherit;
  border-radius: 5px;
  border-width: 0px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline-color: #fcb715;
}

input[type="text"]:valid,
input[type="password"]:valid {
  outline-color: #83d300b3;
}

input[type="button"]:focus,
input[type="submit"]:focus {
  outline-style: none;
}

.input-box-container {
  position: relative;

  .icon-container {
    position: absolute;
    width: 20px;
    height: 13px;
    left: calc(91% - 10px);
    top: calc(50% - 6.5px);
    cursor: pointer;
  }
}

#audio-container {
  position: absolute;
  top: -9999;
}

.page-button {
  width: 20px;
  font-size: 20px;
  cursor: pointer;
}

#live-chat-container {
  position: fixed;
  width: 100%;
  height: 100%;

  z-index: 100;
  cursor: pointer;

  #chat-image {
    position: fixed;
    right: 20px;
    bottom: 70px;
  }
}
