@import "utilityBar.scss", "loginBar.scss", "noticeBoard.scss", "card.scss",
  "eventBar.scss", "gameList.scss", "customerService.scss", "sponsor.scss",
  "popOut.scss", "navigationBar.scss", "slider.scss";

#main-container {
  position: relative;
}

#map-browser,
#map-mobile {
  position: absolute;
  transform-origin: top left;
  background-color: #1e202f;
}

#map-browser {
  width: 1920px;
}

#map-mobile {
  width: 375px;
}

#loading-container {
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  transition: opacity 1s;
  z-index: 999;
}

.image-handler {
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: top left;
}

.yellow {
  color: #fcb715;
}

.white {
  color: #ffffff;
}
