#pop-out-container {
  width: 100%;
}

#pop-out-title-container {
  user-select: none;
  position: relative;
  display: flex;
  width: 100%;
  height: 63px;
  align-items: center;
  justify-content: center;

  :nth-child(1) {
    top: 0;
    left: calc(50% - 131px);
  }

  :nth-child(3) {
    top: -21px;
    left: calc(100% - 49px);
    cursor: pointer;
  }

  #pop-out-title {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding-bottom: 5px;
  }
}

.pop-out-form-container {
  width: 100%;
  height: calc(100% - 63px);

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    input[type="text"]:focus,
    input[type="password"]:focus {
      outline-color: #fcb715;
    }

    input[type="button"]:focus,
    input[type="submit"]:focus {
      outline-style: none;
    }

    input[type="text"],
    input[type="password"] {
      color: black;
    }

    input[type="button"],
    input[type="submit"] {
      color: white;
    }

    input {
      width: 280px;
      height: 40px;
      background-color: white;
      border-radius: 5px;
      border-width: 0px;
    }
  }
}

#login-form-container {
  form {
    :nth-child(1) {
      margin-bottom: 5px;
    }

    :nth-child(2) {
      margin-bottom: 15px;
    }

    :nth-child(3) {
      margin-bottom: 5px;
    }

    :nth-child(4) {
      margin-bottom: 35px;
    }

    :nth-child(5) {
      margin-bottom: 37px;
    }

    :nth-child(6) {
      margin-bottom: 85px;
    }

    #login-help-bar {
      width: 100%;
      height: 25px;
      justify-content: center;
      display: flex;
      flex-direction: row;

      :nth-child(2) {
        margin-left: 32px;
        margin-right: 32px;
      }
    }
  }
}

#fu-form-container {
  form {
    :nth-child(1) {
      margin-bottom: 10px;
    }

    :nth-child(2) {
      margin-bottom: 40px;
    }

    :nth-child(3) {
      margin-bottom: 40px;
    }
  }
}

#register-form-container {
  #register-help-bar {
    width: 100%;
    height: 25px;
    justify-content: center;
    display: flex;
    flex-direction: row;

    :nth-child(2) {
      margin-right: 24px;
    }

    #form-label {
      font-size: 18px;
      color: #ffffff;
    }
  }
}

#register-form-container,
#fp-form-container {
  form {
    :nth-child(1) {
      margin-bottom: 5px;
    }

    :nth-child(2) {
      margin-bottom: 25px;
    }

    :nth-child(3) {
      margin-bottom: 5px;
    }

    :nth-child(4) {
      margin-bottom: 25px;
    }

    :nth-child(5) {
      margin-bottom: 10px;
    }

    :nth-child(6) {
      margin-bottom: 40px;
    }

    :nth-child(7) {
      margin-bottom: 40px;
    }

    :nth-child(8) {
      margin-bottom: 21px;
    }
  }
}

// #region NOTICE
#notice-title-container {
  user-select: none;
  width: 400px;
  height: 50px;
  background: transparent
    linear-gradient(0deg, #00000088 0%, #1a130188 47%, #b47e0088 100%) 0% 0%
    no-repeat padding-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #notice-title {
    font-size: 20px;
    color: #ffffff;
    width: 350px;
    text-align: center;
    padding-left: 13px;
  }

  #cross {
    position: relative;
    width: 16.5px;
    height: 16.5px;
    cursor: pointer;
  }
}

#pop-out-image-container {
  user-select: none;
  width: 400px;
  height: 280px;
  position: relative;

  :nth-child(1) {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

#notice-description {
  user-select: none;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 70px;
  text-align: center;
}

#notice-button-container {
  user-select: none;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

  #notice-button {
    width: 140px;
    height: 40px;
    background: transparent linear-gradient(180deg, #ffd630 0%, #ffb300 100%) 0%
      0% no-repeat padding-box;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;

    #notice-button-label {
      font-size: 18px;
      color: #000000;
    }
  }
}
//#endregion

// #region Utils
.form-warning {
  width: 280px;
  height: 20px;
  color: white;
  padding-left: 20px;
  font-size: 15px;
}

.form-link {
  color: #fcb715;
  font-size: 18px;
  cursor: pointer;
}
//#endregion
