#sponsor-bar-container {
  width: 100%;
  height: 350px;
}

#sponsor-container {
  height: 260px;
  background-color: #ad0002;
  display: flex;
  flex-direction: row;
  padding-left: 360px;
  color: #ffffff;

  .child-container {
    height: 235px;
    margin-top: 12px;
  }

  #platform-container {
    width: 370px;

    #platform-content-container {
      .platform-content-row-container {
        img {
          padding-right: 60px;
        }
      }
    }
  }

  #payment-container {
    width: 260px;

    #payment-content-container {
      display: flex;
      flex-direction: column;

      .payment-image-container {
        padding-bottom: 24px;
      }
    }
  }

  #feedback-container {
    width: 320px;

    .email-title {
      padding-bottom: 2px;
    }
    .email-address {
      padding-bottom: 50px;
    }
  }

  #contact-container {
    width: 250px;

    #contact-content-container {
      display: flex;
      flex-direction: column;

      .contact-content-row-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;

        .contact-image-container {
          padding-right: 10px;
        }
      }
    }
  }
}

#copyright-container {
  height: 70px;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;

  p {
    margin-bottom: 0.2rem;
  }
}

.sponsor-title-label {
  padding-bottom: 20px;
}
