#utility-bar-container {
  height: 106px;
  width: 100%;
  background: #ad0002;
  border: 2px solid #ad0002;
  user-select: none;

  #utility-items-container {
    width: 70%;
    height: 100%;
    margin-left: 15%;

    #logo-container {
      position: relative;
      width: 210px;
      height: 75px;
      margin: auto;
    }

    .utility-item-container {
      cursor: pointer;
      margin: auto;

      .utility-label {
        color: #fcb715;
        margin-top: 55px;
        font-size: 18px;
      }

      .utility-image {
        width: 57px;
        height: 25px;
        position: relative;
        margin-top: 55px;
      }
    }
  }
}
